<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Введите ФИО">
        <input type="text" name="email" placeholder="Ввидте email">
        <input type="text" name="phone" placeholder="Ввидте номер телефона">
        <input type="text" name="address" placeholder="Ввидте адрес">
        <input type="date" name="date" placeholder="Ввидте дату рождения">
        <button type="submit">Добавить</button>
    </form>
</div>

<!--<div th:each="user: ${users}">-->
<!--    <b th:text="${user.getFullName()}">VALUE</b>-->
<!--    <i th:text="${user.getEmail()}">VALUE</i>-->
<!--    <i th:text="${user.getPhone()}">VALUE</i>-->
<!--    <i th:text="${user.getAddress()}">VALUE</i>-->
<!--    <i th:text="${user.getDateOfBirth()}">VALUE</i>-->
<!--</div>-->
<!--<a href="/hello">Greeting page</a>-->
</body>
</html>